
/* 
* {
  bordas para dentro da div
  box-sizing: border-box;
   border: 1px dashed blue; 
}
*/

.btn {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.btn-pdf {
  background-color: #ff0000;
}

.btn-excel {
  background-color: #007700;
}

.blue-background.ul{
  background-color: #1890ff;  
}

.todo-item-line {
  display: flex; 
  alignItems: center; 
  gap: 8px;
}
