
/* 
* {
  bordas para dentro da div
  box-sizing: border-box;
   border: 1px dashed blue; 
}
*/

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.btn {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.blue-background.ul{
  background-color: #1890ff;  
}

.todo-item-line {
  display: flex; 
  align-items: center; 
  gap: 8px;
}


.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
  text-align: center;
}




